body {
  background: #616b95;
  background: -moz-linear-gradient(45deg, #616b95 30%, #95ecdc);
  background: -webkit-linear-gradient(45deg, #616b95 30%, #95ecdc);
  background: linear-gradient(45deg, #616b95 30%, #95ecdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616b95', endColorstr='#95ecdc', GradientType=1);
}
.shadow-line:before,
.shadow-line:after {
  display: none;
}
.wallet .wallet-payment:hover {
  background: rgba(97, 107, 149, 0.4) !important;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1) !important;
}
.default-button {
  background: #616b95;
  border-color: #616b95;
  color: #FFF;
}
.default-button:hover {
  background: #4E9FFB;
  border-color: #4E9FFB;
  color: #FFF;
}
.default-button.disabled,
.default-button:disabled {
  background: #bcc0d3;
  border-color: #acb2c9;
  color: #6f78a1;
}
.menu .menu-list-link:hover,
.menu .menu-list-link.active {
  color: #B0D5FD;
}
.menu .menu-list-link:hover svg,
.menu .menu-list-link.active svg {
  fill: #B0D5FD;
}
.main-content-grid-item .item-copy {
  color: #B0D5FD;
}
.vm--modal {
  background: rgba(97, 107, 149, 0.5) !important;
}
.modal-wrapper {
  background: transparent;
}
.modal-wrapper-static {
  background: #616b95;
  background: -moz-linear-gradient(45deg, #616b95 30%, #95ecdc);
  background: -webkit-linear-gradient(45deg, #616b95 30%, #95ecdc);
  background: linear-gradient(45deg, #616b95 30%, #95ecdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616b95', endColorstr='#95ecdc', GradientType=1);
}
.modal-wrapper .modal-content-section,
.modal-wrapper-static .modal-content-section {
  background: #616b95 !important;
}
.modal-wrapper .modal-content-section .modal-content-inner,
.modal-wrapper-static .modal-content-section .modal-content-inner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.profile .profile-menu-items {
  background: #616b95;
}
.profile .profile-menu-items:before {
  background: #616b95;
}
.fixed-navigation {
  background: #616b95;
}
.fixed-navigation .fixed-navigation-item.active span::before,
.fixed-navigation .fixed-navigation-item.active a::before {
  background: #616b95;
}
.red-colored,
.form-group.has-error .help-block {
  color: #ff906b;
}
.form-control:focus {
  border-color: #acb2c9;
}
.main-content-grid-item {
  background: #ffffff0a;
}
.common-table td,
.common-table th {
  border-color: rgba(255, 255, 255, 0.2);
}
.common-table .counterparty-iban {
  color: rgba(255, 255, 255, 0.6);
}
.common-table tr:hover td {
  background: rgba(97, 107, 149, 0.4) !important;
  box-shadow: none !important;
}
.main-content-grid-item.opened .main-content-expanded-options {
  background: #616b95;
}
.wallet-footer {
  background: #ffffff30 !important;
}
.logo {
  position: relative;
  right: 0;
}
.logo img {
  height: 50px;
  position: absolute;
  left: 0;
  top: -25px;
}
.login-logo img {
  height: 60px;
}
